################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/enc_temp_folder/64acce61baaa32ae9a1b1827e32f2b
/Debug
/Algorithms.VC.VC.opendb
/Algorithms.VC.db
/Algorithms.sln
/Algorithms/Debug/Algorithms.tlog
/Algorithms/Debug
/.vs/Algorithms/v14
/Algorithms/Algorithms.vcxproj.user
/Algorithms/Algorithms.vcxproj.filters
/Algorithms/Algorithms.vcxproj
/Algorithms/Algorithms.VC.VC.opendb
/Algorithms/Algorithms.VC.db
/Algorithms/Algorithms.sln
/Algorithms/.vs/Algorithms/v14/.suo
/graph.cpp~RF24b5e263.TMP
/graph.cpp~RF24b5a64d.TMP
/graph.cpp~RF2a38f303.TMP
/graph.cpp~RF2a36c8a9.TMP
