################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/enc_temp_folder/64acce61baaa32ae9a1b1827e32f2b
