################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/enc_temp_folder/64acce61baaa32ae9a1b1827e32f2b
/Debug
/Algorithms.VC.VC.opendb
/Algorithms.VC.db
/Algorithms.sln
/Algorithms/Debug/Algorithms.tlog
/Algorithms/Debug
/.vs/Algorithms/v14
/Algorithms/Algorithms.vcxproj.user
/Algorithms/Algorithms.vcxproj.filters
/Algorithms/Algorithms.vcxproj
